* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fcfcfc;
    background: linear-gradient(287deg, rgba(252, 252, 252, 1) 0%, rgba(148, 187, 233, 1) 49%, rgba(232, 232, 232, 1) 100%);background-color: rgb(224, 255, 255);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    height: 6rem;
    padding: 1rem;
}

header h1 {
    font-size: 2.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
}
/*FELMEDDELANDE OM DATA EJ KAN HÄMTAS*/
.dataError {
    text-align: center;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
/*STYLING FÖR MENYN*/
.menu {
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    background-color: rgb(92, 146, 228);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(36, 36, 36);
    width: 90vw;
    flex-wrap: wrap;
    gap: 1rem;
}
/*LÄGGA TILL NYTT KORT*/
.addDestinationField {
    flex-grow: 1;
    max-width: 100%;
    min-height: 7rem;
    background-color: rgba(255, 255, 255, 0.432);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    box-shadow: 1px 1px 3px rgb(139, 139, 139);
    position: relative;
    flex-wrap: wrap;
}

.addDestinationField label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.addDestinationField input {
    border: none;
    border-radius: 5px;
    height: 2rem;
}
.addDestinationField select {
    border: none;
    border-radius: 5px;
    height: 2rem;
}
.error{
    color: rgb(202, 9, 9);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.makeFlexColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#continentSelector{
    width: fit-content;
    box-shadow: 1px 1px 3px rgb(139, 139, 139);
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ebebeb;
}
.menu select:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: rgb(247, 247, 247);
}
.saveDestinationButton {
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(136, 136, 136);
    background-color: #f8e800;
    align-self: center;
}
.saveDestinationButton:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
/*GEMENSAM STYLING FÖR ALLA CLOSE-KRYSS*/
.closeButton {
    width: fit-content;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
}
.closeButton:hover {
    cursor: pointer;
}

/*KORTENS STYLING*/
.showCountriesDiv {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;
    width: 90vw;
    justify-content:flex-start;
    align-self: center;
}

.countryCard {
    flex: 1 1 12rem;
    max-width: 15rem;
    aspect-ratio: 1/1;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px grey;
    position: relative;
}

/*FÄRG UTIFRÅN KONTINENT*/
.countryCard.asia{
background-color: rgb(255, 223, 136);
}
.countryCard.africa{
    background-color: rgb(222, 161, 235);
}
.countryCard.northAmerica{
    background-color: rgb(230, 133, 115);
}
.countryCard.southAmerica{
    background-color: rgb(117, 241, 241);
}
.countryCard.europe{
    background-color: rgb(183, 250, 186);
}
.countryCard.oceania{
    background-color: #b7c582;
}
.countryCard.antarctica{
    background-color: rgb(255, 255, 255);
}

/*ÖVRIG STYLING PÅ KORT*/
.countryCard p {
    font-size: 1rem;
}
.continentInfo {
    display: flex;
    gap: 4px;
}
.continentInformationButton {
    font-weight: 600;
}
.continentInformationButton:hover {
    cursor: pointer;
    scale: 1.1;
}
.buttonSection {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.cardButton {
    width: fit-content;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(136, 136, 136);
}
.cardButton:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
.editButton {
    background-color: rgb(255, 255, 255);
}
.deleteButton {
    background-color: rgb(221, 42, 42)
}

/*EDITMODE PÅ KORTEN*/
.editMode {
    padding-right: 3rem;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 5px black;
    position: relative;
    z-index: 30;
}

#editCountry {
   border: none;
   height: 1.5rem;
   padding-left: 6px;
   font-size: 1.2rem;
   width: 10rem;
   box-shadow: 1px 1px 3px grey;
   border-radius: 5px;
   color: rgb(0, 0, 0);
}
#editYear {
    border: 0.5px solid darkblue;
    border-radius: 5px;
    width: 3rem;
    text-align: center;
    box-shadow: 1px 1px 3px grey;
}
.makeFlex {
    display: flex;
    gap: 4px;
}
.saveChanges {
    background-color: rgb(173, 224, 138);
}
.editSelector {
    border: none;
    border-radius: 5px;
}

.hidden {
    display: none;
}

/*INFORMATIONSRUTAN*/
.informationDiv {
    z-index: 30;
    width: 50%;
    aspect-ratio: 2/1;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(150, 150, 150);
    padding: 1rem;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;
}
.overlay{
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 10;
    
}
.informationDiv img {
    position: absolute;
    width: 40%;
    top: 2rem;
    right: 2rem;
}
.informationDiv p {
    width: 55%;
    z-index: 2;
    font-style: italic;
}